.terminal {
    position: absolute;
    top: 50px;
    left: 100px;
    z-index: 1;
    background-color: black;
    opacity: 0.9;
    color: white;
    resize:both;
    min-width: 475px;
    min-height: 200px;
    font: normal 10pt/12pt Liberation Mono;

    scrollbar-base-color: #ff0000;
}